{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div id="container">
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.item_name }}</a></h3>
        {% if listing.image %}<img src="/static/auctions/{{ listing.image }}">{% endif %}
        <h4>{{ listing.description }}</h4>
        <h4>Starting Bid: {{ listing.starting_price }}</h4>
        <h4>Current Bid: {{ listing.bids }}</h4>
        <h4>Buyout Price: {{ listing.buyout_price }}</h4>
        <h4>Expiration: {{ listing.expiration }}</h4>
    </div>
    {% endfor %}
{% endblock %}