{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div id="container">
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.item_name }}</a></h3>
        {% if listing.image %}<img src="/static/auctions/{{ listing.image }}">{% endif %}
        <h4>{{ listing.description }}</h4>
        {% if listing.bids.first %}
        <h4>Current Price: {{ listing.bids.first.amount }}</h4>
        {% else %}
        <h4>Starting Price: {{ listing.starting_price }}</h4>
        {% endif %}
        <h4>Buyout Price: {{ listing.buyout_price }}</h4>
        <h4>Expires: {{ listing.expiration }}</h4>
    </div>
    {% endfor %}
{% endblock %}